// Standard Bootstrap
@custom-grid-gutter-width: 30px;
@custom-container-tablet: 720px;
@custom-container-desktop: 940px;
@custom-container-large-desktop: 1140px;
@custom-screen-sm: 768px;
@custom-screen-md: 992px;
@custom-screen-lg: 1200px;

// Reg 1
//@custom-grid-gutter-width: 30px;
//@custom-container-tablet: 690px;
//@custom-container-desktop: 770px;
//@custom-container-large-desktop: 1250px;
//@custom-screen-sm: 768px;
//@custom-screen-md: 992px;
//@custom-screen-lg: 1330px;

// Site 10
//@custom-grid-gutter-width: 50px;
//@custom-container-tablet: 710px;
//@custom-container-desktop: 1090px;
//@custom-container-large-desktop: 1140px;
//@custom-screen-sm: 778px;
//@custom-screen-md: 1162px;
//@custom-screen-lg: 1200px;

// UCF
//@custom-grid-gutter-width: 50px;
//@custom-container-tablet: 720px;
//@custom-container-desktop: 1000px;
//@custom-container-large-desktop: 1200px;
//@custom-screen-sm: 788px;
//@custom-screen-md: 1072px;
//@custom-screen-lg: 1280px;

// FoxNow
//@custom-grid-gutter-width: 30px;
//@custom-container-tablet: 720px;
//@custom-container-desktop: 940px;
//@custom-container-large-desktop: 1140px;
//@custom-container-xlarge-desktop: 1540px;
//@custom-screen-sm: 768px;
//@custom-screen-md: 992px;
//@custom-screen-lg: 1200px;
//@custom-screen-xl: 1600px;

// NFL
//@custom-grid-gutter-width: 16px;
//@custom-container-tablet: 736px;
//@custom-container-desktop: 962px;
//@custom-container-large-desktop: 1208px;
//@custom-screen-sm: 768px;
//@custom-screen-md: 1024px;
//@custom-screen-lg: 1280px;
